.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-top: 5rem;

}

.msg h2 {

    text-align: center;
    text-transform: capitalize;
    color: black;
    font-size: 4rem;
    font-weight: 750;
}

.msg span {
    color: #f9cb15;
}

.msg p {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    color: #1e1e1e90;
}

.msg a {
    display: flex;
    font-size: 1.2rem;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    color: black;
    cursor: pointer;
    border-radius: 1rem;
    transition: .2s ease;
}

.msg a.btn-log:hover {
    box-shadow: 0px 5px 10px 5px #f9cb1580;
}

.msg a:hover svg {
    left: .3rem;
}

svg {

    position: relative;
    top: 1px;
    width: 1rem;
    margin-left: .5rem;
}

.btns {
    display: flex;
    gap: 1rem;
}

.btn-log {

    background-color: #f9cb15;



}

.btn-ex {

    background-color: #fff;
    border: solid 2px #d9d9d9;
}

.btn-ex:hover {
    background-color: #d9d9d980;
}

.msg .sub {
    margin-top: 1rem;
    color: #1e1e1e80;
    font-weight: 500;
    font-size: 1rem;
}

.card {
    background-color: #f9cb1550;
    border: solid 1px #f9cb15;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 1rem;
}

.card span {

    color: #1e1e1e;


}

.card svg {
    margin-right: 1rem;
}